.btn-action{
    @include ombre-btn;
    @include btn-style-null;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, $color-duo, $color-pri);
    transition: all 0.5s;
    &:hover {
            @include gradient__btn--light;
            @include ombre-btn-dark;
            color: black;
            cursor: pointer;
        }
    &__index--rech {
        padding: 18px 20px 18px 20px;
    }
}

.btn-coeur{
    position:sticky;
    @include padding_null;
    @include btn-style-null;
    height: 20px;
    .far.fa-heart{
        position: absolute;
        z-index: 1;
        font-size: 20px;
    }
    .fas.fa-heart{
        position: relative;
        z-index: 2;
        font-size: 20px;
        visibility: hidden;
        color: transparent;
        background: linear-gradient(white, white);
        @include background-clip;
        opacity: 0%;
    }
    &:hover{
        cursor: pointer;
    }
    &:focus{
        .fas.fa-heart{
            visibility: visible;
            background: linear-gradient($color-pri, $color-duo);
            @include background-clip;
            opacity: 100%;
            transition: all 0.5s;
        }
    }
}

