.btn-action{
    @include ombre-btn;
    @include btn-style-null;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, $color-duo, $color-pri);
    transition: all 0.5s;
    &:hover {
            @include gradient__btn--light;
            @include ombre-btn-dark;
            color: black;
            cursor: pointer;
        }
    &__index--rech {
        padding: 18px 20px 18px 20px;
    }
}

.btn-coeur{
    position:sticky;
    @include padding_null;
    @include btn-style-null;
    height: 20px;
    label{
        .far.fa-heart{
            position: absolute;
            z-index: 1;
            font-size: 20px;
        }
        .fas.fa-heart{
            position: relative;
            z-index: 2;
            font-size: 20px;
            visibility: hidden;
            color: transparent;
            background: linear-gradient(white, white);
            @include background-clip;
            opacity: 0%;
        }
        &:hover{
            cursor: pointer;
        }
    }
    & input[type=checkbox]:checked + label{
        .fas.fa-heart{
        visibility: visible;
        background: linear-gradient($color-pri, $color-duo);
        @include background-clip;
        opacity: 100%;
        transition: all 0.5s;
        }
    }
}

.btn-carte{
    @include ombre-btn-carte;
    border-radius: 20px;
    label{
        cursor: pointer;
        .label-carte{
            overflow: hidden;
            display: grid;
            grid-template-columns: 100% 0%;
            grid-template-areas: 
            "visible cache";
            border-radius: 20px;
            @include transi-400ms;
            .visible{
                grid-area: visible;
                height: 40px;
                padding: 15px 20px 15px 10px;
                display: flex;
                flex-flow: row;
                @include transi-400ms;
                &__txt{
                    width: 100%;
                    align-self: center;
                    overflow: hidden;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                }
                &__prix{
                    align-self: flex-end;
                }
            }
            .invisible{
                grid-area: cache;
                display: grid;
                align-content: center;
                justify-content: center;
                background: $color-tri;
                overflow: hidden;
                @include transi-400ms;
                .logo-invisible{
                    height: 100%;
                }
            }
        }
    }
    & input[type=checkbox]:checked + label{
        .label-carte{
            grid-template-columns: 82% 18%;
        }
        .fa-check{
            transform: rotate(1turn);
        }
    }
}
