
.fa-mobile-alt{
    color: $logo-clair;
    font-size: 20px;
}
.fa-list{
    color: $logo-clair;
    font-size: 16px;
}
.fa-store{
    color: $color-pri;
    font-size: 18px;
    transform: scale(0.833, 1);
}

.fa-check{
    color: $color-tri;
    background: white;
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 50%;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}