
.fa-mobile-alt{
    color: $logo-clair;
    font-size: 20px;
}
.fa-list{
    color: $logo-clair;
    font-size: 16px;
}
.fa-store{
    color: $color-pri;
    font-size: 18px;
    transform: scale(0.833, 1);
}
.fa-check{
    color: $color-tri;
    background: white;
    font-size: 14px;
    padding: 3px;
    border-radius: 50%;
    @include transi-600ms;
}
.fa-sync{
    font-size:100px;
    color: $color-duo;
}