/*base*/
/*couleur*/
/*transition*/
@keyframes anim-charg-rota {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
@keyframes anim-charg-visib {
  0%, 100% {
    visibility: visible;
  }
}
@keyframes anim-body {
  0% {
    opacity: 0%;
  }
  63% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes anim-carte-plat {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
html {
  font-family: "roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "shrikhand", cursive;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

li {
  list-style-type: none;
}

input {
  text-decoration: none;
  background-color: unset;
  border: unset;
  outline: unset;
  width: 100%;
  height: 100%;
}

input[type=checkbox] {
  display: none;
}

.border-40px {
  margin: 0;
  margin: 8px 0 15px 0;
  width: 40px;
  border-top: 3px solid #99E2D0;
}

.btn-action {
  box-shadow: 0px 2px 5px rgba(77, 77, 77, 0.79);
  background: unset;
  outline-style: none;
  border: none;
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC);
  transition: all 0.5s;
}
.btn-action:hover {
  cursor: pointer;
}
.btn-action:hover::after {
  opacity: 1;
}
.btn-action::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #ff93e1 10%, #a16be0);
  box-shadow: 0px 2px 5px rgba(52, 52, 52, 0.79);
  opacity: 0;
  z-index: -1;
  transition: all 500ms;
}
.btn-action__index--rech {
  padding: 18px 20px 18px 20px;
}
.btn-action__page--cmd {
  padding: 18px 50px 18px 50px;
}

.btn-coeur {
  position: sticky;
  padding: 0;
  background: unset;
  outline-style: none;
  border: none;
  height: 20px;
}
.btn-coeur label .far.fa-heart {
  position: absolute;
  z-index: 1;
  font-size: 20px;
}
.btn-coeur label .fas.fa-heart {
  position: relative;
  z-index: 2;
  font-size: 20px;
  visibility: hidden;
  color: transparent;
  background: linear-gradient(white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  opacity: 0%;
}
.btn-coeur label:hover {
  cursor: pointer;
}
.btn-coeur input[type=checkbox]:checked + label .fas.fa-heart {
  visibility: visible;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  opacity: 100%;
  transition: all 0.5s;
}

.btn-carte {
  box-shadow: 0 1px 10px rgba(96, 96, 96, 0.3);
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.btn-carte label {
  cursor: pointer;
}
.btn-carte label .label-carte {
  display: flex;
  flex-direction: row;
}
.btn-carte label .label-carte .visible {
  width: 100%;
  height: 40px;
  padding: 15px 20px 15px 10px;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
}
.btn-carte label .label-carte .visible__txt {
  width: 100%;
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
  line-height: 1.4;
}
.btn-carte label .label-carte .visible__txt strong {
  font-size: initial;
}
.btn-carte label .label-carte .visible__prix {
  align-self: flex-end;
  font-weight: bold;
}
.btn-carte label .label-carte .invisible {
  width: 0%;
  display: grid;
  align-content: center;
  justify-content: center;
  background: #99E2D0;
  overflow: hidden;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
}
.btn-carte label .label-carte .invisible .logo-invisible {
  height: 100%;
}
.btn-carte input[type=checkbox]:checked + label .label-carte .visible {
  width: 82%;
}
.btn-carte input[type=checkbox]:checked + label .label-carte .invisible {
  width: 18%;
}
.btn-carte input[type=checkbox]:checked + label .fa-check {
  transform: rotate(1turn);
}

.fa-mobile-alt {
  color: #7e7e7e;
  font-size: 20px;
}

.fa-list {
  color: #7e7e7e;
  font-size: 16px;
}

.fa-store {
  color: #9356DC;
  font-size: 18px;
  transform: scale(0.833, 1);
}

.fa-arrow-left {
  font-size: 20px;
}

.fa-check {
  color: #99E2D0;
  background: white;
  font-size: 14px;
  padding: 3px;
  border-radius: 50%;
  transition: all 600ms;
}

.fa-sync {
  font-size: 100px;
  color: #FF79DA;
}

.dispo {
  font-family: "shrikhand", cursive;
  font-size: 20px;
  color: #9356DC;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 100px 0 100px 0;
}
.dispo p {
  margin: 20px 0 20px 0;
}

header {
  padding: 20px 0 12px 0;
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "head1 head2 .";
}
header .lien-header {
  grid-area: head1;
  width: 50px;
}
header .titre-header {
  grid-area: head2;
}
header#header-shadow--active {
  box-shadow: 0 0 6px rgba(81, 81, 81, 0.83);
}

footer {
  background: #353535;
  color: white;
  padding: 25px 0 38px 25px;
}
footer .titre-footer {
  margin: 0 0 25px 0;
  font-family: "shrikhand", cursive;
}
footer .txt-footer {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "logo1 txt1" "logo2 txt2" "txt3 txt3" "txt4 txt4";
  grid-row-gap: 15px;
}
footer .txt-footer__couvert {
  grid-area: logo1;
}
footer .txt-footer__resto {
  grid-area: txt1;
}
footer .txt-footer__help {
  grid-area: logo2;
}
footer .txt-footer__part {
  grid-area: txt2;
}
footer .txt-footer__leg {
  grid-area: txt3;
}
footer .txt-footer__cont {
  grid-area: txt4;
  width: 80px;
}

#chargement {
  visibility: hidden;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim-charg-visib 2000ms linear;
}
#chargement .icone-charg {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  animation: anim-charg-rota 2000ms linear;
}
#chargement p {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "shrikhand", cursive;
  font-size: 30px;
  color: #9356DC;
  margin: 50px 0 0 0;
}

#body-index {
  animation: anim-body 3000ms linear;
}

#rech {
  margin: 0 0 50px 0;
  padding: 0 0 55px 0;
  background-color: #f6f6f6;
}
#rech .rech__bar {
  margin: 0 0 45px 0;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#rech .rech__bar .fas__mapmarker {
  font-size: 16px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#rech .rech__bar .form-rech {
  margin: 0 0 0 18px;
  width: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#rech .rech__titre {
  margin: 0 50px 20px 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#rech .rech__txt {
  margin: 0 30px 35px 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#rech .rech__btn {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#titre-fonc {
  padding: 0 20px 35px 20px;
}

#fonc {
  padding: 0 20px 50px 20px;
  display: grid;
  grid-gap: 20px;
}
#fonc .fonc__box {
  display: grid;
  align-items: center;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  grid-template-areas: "fonc fonc";
  grid-gap: 25px;
}
#fonc .fonc__box .num {
  grid-area: fonc;
  z-index: 2;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#fonc .fonc__box .carte-fonc {
  grid-area: fonc;
  z-index: 1;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 10px rgba(96, 96, 96, 0.3);
  margin: 0 0 0 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#fonc .fonc__box .carte-fonc__txt {
  height: 75px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#fonc .fonc__box .carte-fonc__logo {
  width: 38px;
  padding: 0 0 0 30px;
}
#fonc .fonc__box .carte-fonc__background--clair {
  background-color: #f4ebff;
}
@media only screen and (min-width: 901px) {
  #fonc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 721px) and (max-width: 900px) {
  #fonc {
    display: grid;
    grid-template-areas: "rest rest . ." ". men men ." ". . deg deg";
  }
  #fonc .fonc__box:nth-child(1) {
    grid-area: rest;
  }
  #fonc .fonc__box:nth-child(2) {
    grid-area: men;
  }
  #fonc .fonc__box:nth-child(3) {
    grid-area: deg;
  }
}

#nav {
  padding: 60px 20px 65px 20px;
  background-color: #f6f6f6;
}
#nav__titre {
  margin: 0 0 30px 0;
}
#nav__liste {
  width: 100%;
  display: grid;
  grid-template-rows: repeat 4, 1fr;
  grid-gap: 20px;
}
@media only screen and (min-width: 721px) {
  #nav__liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat 2, 1fr;
  }
}
#nav__liste .carte-resto {
  background-color: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 1px 10px rgba(96, 96, 96, 0.3);
}
#nav__liste .carte-resto__lien .lien-contenu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "img" "txt";
}
#nav__liste .carte-resto__lien .lien-contenu__img {
  grid-area: img;
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#nav__liste .carte-resto__lien .lien-contenu__flag {
  grid-area: img;
  background-color: #99E2D0;
  color: #008564;
  width: 80px;
  height: 30px;
  margin: 13px 11px 0 0;
  border-radius: 2px;
  justify-self: flex-end;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#nav__liste .carte-resto__lien .lien-contenu__txt {
  grid-area: txt;
  padding: 20px 0 20px 15px;
}
#nav__liste .carte-resto__btn {
  position: absolute;
  bottom: 33px;
  right: 24px;
}

.miniature {
  position: sticky;
  z-index: 1;
  height: 300px;
}
.miniature__img {
  position: relative;
  z-index: 2;
  object-fit: cover;
  height: 300px;
  width: 100%;
}
.miniature__txt {
  position: relative;
  z-index: 3;
  bottom: 64px;
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding: 25px 35px 0 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.miniature__txt .mini-btn {
  justify-self: flex-end;
}

.box-plat {
  background: #f6f6f6;
  padding: 35px 0 30px 0;
  display: grid;
  row-gap: 30px;
}
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  .box-plat {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200.1px) {
  .box-plat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
  }
}
.box-plat .plat {
  padding: 0 10px 0 10px;
  background: #f6f6f6;
}
.box-plat .plat .liste-plat {
  display: grid;
  grid-gap: 14px;
}
.box-plat .plat .liste-plat .btn-carte:nth-child(1) {
  animation: anim-carte-plat 500ms linear;
}
.box-plat .plat .liste-plat .btn-carte:nth-child(2) {
  animation: anim-carte-plat 500ms linear 100ms;
}
.box-plat .plat .liste-plat .btn-carte:nth-child(3) {
  animation: anim-carte-plat 500ms linear 200ms;
}
.box-plat .plat .liste-plat .btn-carte:nth-child(4) {
  animation: anim-carte-plat 500ms linear 300ms;
}
.box-plat .plat .liste-plat .btn-carte:nth-child(5) {
  animation: anim-carte-plat 500ms linear 400ms;
}
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  .box-plat .plat {
    width: 600px;
    border-left: solid #FF79DA;
  }
}
@media only screen and (min-width: 1200px) {
  .box-plat .plat {
    margin: 0 10px 0 10px;
    border-left: solid #FF79DA;
  }
}

.box-btn {
  padding: 20px 0 80px 0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

/*# sourceMappingURL=style.css.map */
