html {
  font-family: "roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "shrikhand", cursive;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

li {
  list-style-type: none;
}

input {
  text-decoration: none;
  background-color: unset;
  border: unset;
  outline: unset;
  width: 100%;
  height: 100%;
}

.btn-action {
  color: white;
  font-weight: bold;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: unset;
  box-shadow: 0px 2px 5px rgba(77, 77, 77, 0.79);
}
.btn-action:hover {
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 0px 0px 2px rgba(64, 64, 64, 0.79);
  text-shadow: 0 1px 1px black;
  transition: 0.2s;
  cursor: pointer;
}
.btn-action__index--rech {
  padding: 18px 20px 18px 20px;
}

.btn-coeur {
  position: sticky;
  padding: 0;
  height: 20px;
  background: unset;
  border: unset;
}
.btn-coeur .far.fa-heart {
  position: absolute;
  z-index: 1;
  font-size: 20px;
}
.btn-coeur .fas.fa-heart {
  position: relative;
  z-index: 2;
  font-size: 20px;
  visibility: hidden;
  color: transparent;
  background: linear-gradient(white, white);
  background-clip: text;
  opacity: 0%;
  transition: all 0.3s;
}
.btn-coeur:hover {
  cursor: pointer;
}
.btn-coeur:focus .fas.fa-heart {
  visibility: visible;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  opacity: 100%;
}

/*
.btn-coeur{
    @include padding_null;
    height: 20px;
    background: unset;
    border: unset;
    .far.fa-heart{
        font-size: 20px;
    }
    .fas.fa-heart{
        display: none;
        visibility: hidden;
    }
    &:hover{
        cursor: pointer;
    }
    &:active{
        .far.fa-heart{
            display: none;
        }
        .fas.fa-heart{
            display: unset;
            visibility: visible;
            font-size: 20px;
            color: transparent;
            background: linear-gradient($color-pri, $color-duo);
            background-clip: text;
        }
    }
}
*/
.fa-mobile-alt {
  color: #7e7e7e;
  font-size: 20px;
}

.fa-list {
  color: #7e7e7e;
  font-size: 16px;
}

.fa-store {
  color: #9356DC;
  font-size: 18px;
  transform: scale(0.833, 1);
}

@media only screen and (max-width: 720px) {
  header {
    margin: 20px 0 12px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  #rech {
    margin: 0 0 50px 0;
    background-color: #f6f6f6;
    padding: 0 0 55px 0;
  }
  #rech .rech__bar {
    width: 100%;
    height: 50px;
    margin: 0 0 45px 0;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #rech .rech__bar .fas__mapmarker {
    font-size: 16px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #rech .rech__bar .form-rech {
    margin: 0 0 0 18px;
    width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #rech .rech__titre {
    margin: 0 80px 20px 60px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #rech .rech__txt {
    margin: 0 30px 35px 40px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #rech .rech__btn {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  #titre-fonc {
    margin: 0 20px 35px 20px;
  }

  #fonc {
    margin: 0 20px 50px 20px;
    display: grid;
    grid-gap: 20px;
  }
  #fonc .fonc__box {
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-template-areas: "fonc fonc";
    grid-gap: 25px;
  }
  #fonc .fonc__box .num {
    grid-area: fonc;
    z-index: 2;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #fonc .fonc__box .carte-fonc {
    grid-area: fonc;
    z-index: 1;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0 1px 15px rgba(96, 96, 96, 0.3);
    margin: 0 0 0 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  #fonc .fonc__box .carte-fonc__txt {
    height: 75px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #fonc .fonc__box .carte-fonc__logo {
    width: 38px;
    padding: 0 0 0 30px;
  }
  #fonc .fonc__box .carte-fonc__background--clair {
    background-color: #f4ebff;
  }

  #nav {
    margin: 0 20px 65px 20px;
  }
  #nav__titre {
    margin: 0 0 30px 0;
  }
  #nav__liste {
    width: 100%;
    display: grid;
    grid-template-rows: repeat 4, 1fr;
    grid-gap: 20px;
  }
  #nav__liste .carte-resto {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 1px 15px rgba(96, 96, 96, 0.3);
  }
  #nav__liste .carte-resto__lien .lien-contenu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "img" "txt";
  }
  #nav__liste .carte-resto__lien .lien-contenu__img {
    grid-area: img;
    height: 174px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  #nav__liste .carte-resto__lien .lien-contenu__flag {
    grid-area: img;
    background-color: #99E2D0;
    color: #008564;
    width: 80px;
    height: 30px;
    margin: 13px 11px 0 0;
    border-radius: 2px;
    justify-self: flex-end;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  #nav__liste .carte-resto__lien .lien-contenu__txt {
    grid-area: txt;
    padding: 20px 0 20px 15px;
  }
  #nav__liste .carte-resto__btn {
    position: absolute;
    bottom: 33px;
    right: 24px;
  }

  footer {
    background-color: #353535;
    color: white;
    padding: 25px 0 38px 25px;
  }
  footer .titre-footer {
    margin: 0 0 25px 0;
    font-family: "shrikhand", cursive;
  }
  footer .txt-footer {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "logo1 txt1" "logo2 txt2" "txt3 txt3" "txt4 txt4";
    grid-row-gap: 15px;
  }
  footer .txt-footer__couvert {
    grid-area: logo1;
  }
  footer .txt-footer__resto {
    grid-area: txt1;
  }
  footer .txt-footer__help {
    grid-area: logo2;
  }
  footer .txt-footer__part {
    grid-area: txt2;
  }
  footer .txt-footer__leg {
    grid-area: txt3;
  }
  footer .txt-footer__cont {
    grid-area: txt4;
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
