$color-pri: #9356DC;
$color-duo: #FF79DA;
$color-tri: #99E2D0;
$color-footer: white;

$background-clair: #f6f6f6;
$background-fonce: #eaeaea;
$background-footer: #353535;

$logo-clair: #7e7e7e;
$border-rech: #d5d5d5;

$color-ombre__carte: rgba(95.5, 95.5, 95.5, 30%);
$color-ombre__btn: rgba(77.3, 77.3, 77.3, 79%);
$colors-ombre__header: rgba(81.2, 81.2, 81.2, 83%);